body{
	margin: 0;
	padding: 0;
	background: black;
	font-family: segoe ui light;
	color: #ffcb05;
	margin-top: 50px;
}

h1{
	text-align: center;
	font-size: 40px;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	
}

.kotakgede{
	width: 400px;
	margin: auto;
	background: #ffcb05;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	color: black;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 20px;
}

input{
	border: 1px solid black;
	background: black;
	color: #ffcb05;
	display: inline-block;
	margin-bottom: 5px;
	margin-top: 5px;
	font-family: segoe ui light;
	font-size: 18px;
}

input[type='submit']{
	padding: 10px;
	width: 100%;
	transition: 0.3s;
}

input[type='submit']:hover{
	background: #ffcb05;
	color: black;
}
input[type='text'],input[type='password']{
	padding: 10px;
	width: 380px;
}

p{
	text-align: center;
}

a{
	text-decoration: none;
	padding: 2px 10px;
	transition: 0.3s;
	background: black;
	border-bottom: 1px solid #ffcb05;
	color: #ffcb05;
}

a:hover{
	background: #ffcb05;
	color: black;
}

#kotakcilik{
	border: 1px solid black;
	width: 32%;
	text-align: left;
	display: inline-block;
	vertical-align: top;
	margin-top: 5px;
	margin-bottom: 5px;
}

#kotakcilik p{
	background: black;
	margin: 0;
	padding: 10px;
	color: #ffcb05;
}

.pertama{
	background: black;
	color: #ffcb05;
}

table{
	text-align: left;
}

tr:hover{
	background: black;
	color: #ffcb05;
}

tr:hover a{
	color: red;
}

table a{
	background: none;
	color: black;
	border: 0;
}

table a:hover{
	background: red;
	color: white;
}

.error{
	background: red;
	color: white;
	text-align: center;
	padding: 10px;
	font-size: 20px;
}

td:even{
	background: blue;
}

/* animasi mubeng mubeng */
.mubeng {
	margin: 100px auto;
	width: 40px;
	height: 40px;
	position: relative;
	text-align: center;

	-webkit-animation: rotate 2.0s infinite linear;
	animation: rotate 2.0s infinite linear;
}

.titiksiji, .titikloro {
	width: 60%;
	height: 60%;
	display: inline-block;
	position: absolute;
	top: 0;
	background-color: #ffcb05;
	border-radius: 100%;

	-webkit-animation: bounce 2.0s infinite ease-in-out;
	animation: bounce 2.0s infinite ease-in-out;
}

.titikloro {
	top: auto;
	bottom: 0px;
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}